body {
font-family:Raleway, sans-serif;
}

h1{
  width: 100%;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#date{
  display: inline;
  justify-content: right;
}
  

#contact{
 text-align: center;
  font-weight: 300;
  width: 100%;
}

#description1{
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  positon: relative;
  top: 5px;
}
  

p{
color: black;
}
